pkgbase = spaceship-terminal
	pkgdesc = A retro terminal spaceship animation in C++ using ncursesw
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/andreyscherbakov/spaceship
	arch = x86_64
	license = MIT
	makedepends = make
	makedepends = gcc
	depends = ncurses
	source = spaceship-terminal-1.0.0.tar.gz::https://github.com/andreyscherbakov/spaceship/archive/refs/tags/v1.0.0.tar.gz
	sha256sums = SKIP

pkgname = spaceship-terminal
